/* Page setup */
html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}
/* Page setup ends */

/* General site styles */
* {
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 95%;
    max-width: 1368px;
    margin: 0 auto;
}

body {
    background: #4A4A4A;
    font-family: 'Catamaran';
    font-display: swap;
}

h1,
h2,
h4 {
    font-family: 'Pacifico';
    font-display: swap;
}

button {
    font-weight: 700;
}

h1,
.header-icons a,
button,
h3,
h4 {
    color: #F2A11C;
}

nav,
.products i,
footer p {
    color: #FFFFFF;
}

li {
    list-style: none;
}
/* General site styles end */

/* Header styles */
    header,
    .hero {
        width: 100%;
        height: 709px;
    }

    .hero {
        background-image: url(./assets/image-1.jpg);
        background-size: cover;
        background-repeat: no-repeat;
    }

    nav {
        padding-top: 25px;
    }

        /* Mobile menu styling begins */
        .hamburger {
            visibility: hidden;
            position: fixed;
            right: 20px;
        }
        
        .hamburger-toggle {
            visibility: hidden;
        }
        
        .mobile-nav {
            right: -200px;
            visibility: hidden;
            position: fixed;
            background: #F2A11C;
            padding-left: 0;
            z-index: 20;
            width: 170px;
            top: 60px;
            transition: all 0.4s ease-in;
            display: inline-block;
        }
        
        .mobile-nav li {
            padding-bottom: 10px;
            padding-top: 10px;
            width: 100%;
        }

        .mobile-nav li:hover {
            background: #000000;
        }
        
        .mobile-nav a {
            text-decoration: none;
            color: #000000;
            padding-right: 50px;
            padding-left: 50px;
            width: 100%;
        }

        .mobile-nav a:hover {
            color: #FFFFFF;
        }
        
        #hamburger-toggle:checked ~ .mobile-nav {
            right: 60px;
            visibility: visible;
        }
        
        .hamburger-lines {
            display: block;
            width: 40px;
            height: 30px;
            position: relative;
            transition: all 0.4s ease-in-out;
        }
        
        .hamburger-lines:hover {
            cursor: pointer;
        }
        
        .hamburger-line {
            width: 100%;
            height: 5px;
            position: absolute;
            left: 0;
            background: #F2A11C;
            transition: all 0.4s ease-in-out;
        }
        
        .hamburger-line.line1 {
            top: 0px;
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
        }
        
        .hamburger-line.line2,
        .hamburger-line.line2b {
            top: 50%;
            border-radius: 8px;
            background: #F2A11C;
            transform: translateY(-50%);
        }
        
        .hamburger-line.line3 {
            bottom: 0px;
            border-bottom-left-radius: 8px;
            border-bottom-right-radius: 8px;
        }
        
        .hamburger-toggle:checked + label .line1,
        .hamburger-toggle:checked + label .line3 {
            visibility: hidden;
        }
        
        .hamburger-toggle:checked + label .line1 {
            top: -6px;
        }
        
        .hamburger-toggle:checked + label .line3 {
            bottom: -6px;
        }
        
        .hamburger-toggle:checked + label .middle {
            height: 4px;
            background: #F2A11C;
        }
        
        .hamburger-toggle:checked + label .line2 {
            transform: rotate(40deg);
            background: #F2A11C;
        }
        
        .hamburger-toggle:checked + label .line2b {
            transform: rotate(-40deg);
        }
        /* Mobile menu styling ends */

    nav ul,
    nav li {
        margin: 0 auto;
        text-align: center;
    }

    nav li {
        width: 80px;
        font-size: 1.3rem;
        display: inline-block;
    }

    nav li:hover,
    nav a:focus {
        color: #F2A11C;
        cursor: pointer;
    }

    h1 {
        font-size: 6.5rem;
        width: 67%;
        float: left;
        margin-top: 235px;
        text-align: right;
    }

    .header-icons {
        font-size: 1.9rem;
        float: right;
        margin-top: 200px;
        margin-right: 60px;
    }

    .header-icons li {
        height: 45px;
    }

    .header-icons a:hover,
    .header-icons a:focus {
        color: #FFFFFF;
        cursor: pointer;
    }
/* Header styles end */

/* Main styles */
.about,
.mission {
    float: left;
    width: 50%;
    padding-top: 130px;
    padding-left: 100px;
    padding-right: 100px;
}

.mission,
.image-7 {
    height: 509.25px;
}

img {
    float: left;
    width: 50%;
}

.image-2,
.image-7 {
    min-width: 650px;
}

h2,
main p {
    color: #1F2022;
}

h2 {
    font-size: 2.5rem;
}

main p {
    font-size: 1.1rem;
    line-height: 1.5;
}

button {
    background: #1F2022;
    border: none;
    text-transform: uppercase;
    width: 150px;
    height: 50px;
    margin-top: 20px;
}

button:hover,
button:focus {
    background: #F2A11C;
    color: #1F2022;
    cursor: pointer;
}

.alissa {
    background: #FFFFFF;
    width: 100%;
    height: 460.85px;
    float: left;
}

.alissa-photo {
    width: 20%;
    margin-right: 40px;
    margin-left: 120px;
    margin-top: 90px;
}

.alissa-article {
    width: 85%;
    margin-top: 50px;
}

.alissa-article p {
    margin-top: 15px;
}

.products {
    background: url(./assets/image-5.jpg);
    background-size: cover;
    height: 425.4px;
    width: 100%;
    float: left;
    font-size: 1.2rem;
    text-align: center;
}

.products ul {
    width: 100%;
    margin-top: 170px;
}

.products li {
    display: inline-block;
}

.products li:hover {
    cursor: pointer;
}

.community {
    margin-left: 80px;
    margin-right: 80px;
}

.products i {
    font-size: 3rem;
    margin-bottom: 20px;
}

.products i:hover {
    color: #F2A11C;
}

.gram {
    text-align: center;
    height: 602.65px;
    clear: both;
    padding-top: 0;
}

.gram h2 {
    display: inline-block;
    margin-top: 50px;
    margin-bottom: 50px;
}

.gram-photo-container {
    display: inline-block;
    width: 100%;
}

.gram img {
    width: calc((100% / 3) - 100px);
    margin-left: 75px;
}
/* Main styles end */

/* Footer styles */
footer,
.footer-container {
    height: 354.5px;
}

.footer-container {
    background: #1F2022;
    padding-top: 50px;
}

h4 {
    font-size: 1.5rem;
    margin-bottom: 15px;
}

.footer-float {
    width: 100%;
    padding-top: 50px;
    padding-left: 120px;
}

.contact {
    float: left;
}

.update {
    float: right;
    width: 54%;
}

form {
    width: 100%;
}

input,
footer button {
    height: 40px;
    float: left;
}

.subscribe {
    margin-bottom: 10px;
}

input {
    width: 60%;
    padding-left: 20px;
}

footer button {
    background: #F2A11C;
    color: #000000;
    font-size: 0.9rem;
    width: 130px;
    margin: 0;
}

footer button:hover,
footer button:focus {
    background: #4A4A4A;
    color: #F2A11C;
}

.copyright {
    background: #000000;
    color: #F4F4F4;
    font-size: 1.1rem;
    height: 40px;
    text-align: center;
    padding-top: 10px;
}
/* Footer styles end */

/* Media queries */
@media (max-width: 1400px) {
    .image-2 {
        position: absolute;
        top: 709px;
        left: 25%;
        width: auto;
        height: auto;
        z-index: -20;
    }

    .about,
    .mission {
        text-align: center;
        width: 60%;
    }

    .about {
        float: none;
        padding: 0;
        margin-top: 580px;
        margin-left: 280px;
        margin-bottom: 60px;
    }

    .image-7 {
        width: 60%;
        height: auto;
        margin-left: 220px;
    }

    .mission {
        margin-left: 300px;
        padding-top: 50px;
        width: 60%;
        height: 340px;
    }
}

@media (max-width: 1300px) {
    .image-7 {
        margin-left: 250px;
    }

    .alissa {
        height: 510px;
        padding-right: 10px;
    }

    .alissa-photo {
        width: 40%;
        margin-left: 20px;
        margin-top: 20px;
    }

    .alissa-article {
        width: 50%;
        float: right;
    }
}

@media (max-width: 1200px) {
    .gram {
        height: 510px;
    }

    .gram img {
        min-width: 280px;
    }

    .gram-photo-container {
        padding-left: 180px;
    }

    .image-4 {
        display: none;
    }
}

@media (max-width: 1180px) {
    .about,
    .mission {
        width: 60%;
        margin-left: 250px;
    }
}

@media (max-width: 1125px) {
    .hero {
        background: url(./assets/image-1-resized.jpg);
        height: 578px;
    }

    .image-2,
    .image7 {
        min-width: 0;
    }

    .image-2 {
        top: 578px;
        left: 25%;
        width: 50%;
    }

    .about,
    .mission,
    .image-7 {
        margin-left: 180px;
    }

    .about {
        margin-top: 360px;
    }

    .mission {
        width: 80%;
        margin-left: 90px;
    }

    .alissa-photo {
        margin-top: 40px;
    }

    .gram-photo-container {
        padding-left: 100px;
    }
}

@media (max-width: 1020px) {
    .image-7 {
        margin-left: 100px;
    }

    .products {
        background-position-x: -300px;
    }
}

@media (max-width: 980px) {
    h1 {
        font-size: 6rem;
        margin-top: 190px;
        margin-left: 100px;
    }

    .hero {
        background: url(./assets/image-1-resized-2.jpg);
        height: 476px;
    }

    .hamburger {
        visibility: visible;
    }

    header nav ul {
        display: none;
    }

    .header-icons {
        display: none;
    }

    .image-2 {
        top: 476px;
    }

    .about {
        margin-top: 200px;
    }

    .alissa {
        height: 952px;
    }

    .alissa-photo {
        margin-left: 250px;
        margin-bottom: 40px;
        margin-top: 30px;
    }

    .alissa-article {
        float: none;
        text-align: center;
        margin-left: 200px;
        width: 50%;
        margin: 0 auto;
    }

    footer,
    .footer-container {
        height: 442px;
    }

    .footer-container {
        padding-top: 10px;
    }

    .contact,
    .update {
        float: none;
        text-align: center;
    }

    .footer-float {
        padding-left: 0;
    }

    .update {
        margin-left: auto;
        margin-right: auto;
        margin-top: 40px;
    }

    .subscribe {
        min-width: 291px;
    }

    footer button,
    footer input {
        float: none;
        width: 60%;
        text-align: center;
        min-width: 300px;
    }

    footer input,
    footer button {
        margin-top: 10px;
    }
}

@media (max-width: 905px) {
    .alissa {
        height: 986px;
    }

    .alissa-photo {
        min-width: 400px;
        margin-left: 200px;
    }

    .gram-photo-container {
        padding-left: 0;
    }
}

@media (max-width: 870px) {
    .about {
        margin-top: 170px;
    }

    .image-7 {
        margin-left: 50px;
    }

    .mission {
        height: 374px;
    }

    .alissa-article {
        width: 60%;
    }
}

@media (max-width: 785px) {
    .about {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 140px;
    }

    .image-2 {
        min-width: 390px;
    }

    .image-7 {
        min-width: 0;
        min-height: 0;
        height: auto;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 50px;
    }

    .mission {
        margin: 0 auto;
        width: 100%;
        height: 306px;
        padding: 0;
    }

    .alissa {
        height: 1054px;
    }
}

@media (max-width: 747px) {
    .gram img {
        margin-left: 30px;
    }
}

@media (max-width: 740px) {
    .alissa-photo {
        margin-left: 100px;
    }
}

@media (max-width: 715px) {
    .products {
        background-position-x: -600px;
    }
}

@media (max-width: 680px) {
    .hero {
        background: url(./assets/image-1-resized-3.jpg);
        height: 326.4px;
    }

    nav button {
        margin-top: 0;
    }

    h1 {
        margin-left: 55px;
        margin-top: 130px;
        font-size: 4rem;
    }

    .image-2 {
        top: 326.4px;
        left: 20%;
    }

    .about {
        margin-top: 0;
    }

    .mission {
        height: 306px;
    }

    .alissa-article {
        min-width: 365px;
    }
}

@media (max-width: 652px) {
    .gram img {
        min-width: 250px;
    }
}

@media (max-width: 630px) {
    .gram {
        height: 476px;
    }
}

@media (max-width: 590px) {
    .gram img {
        min-width: 200px;
    }
}

@media (max-width: 580px) {
    .image-2 {
        left: 10%;
    }
}

@media (max-width: 550px) {
    .alissa {
        height: 918px;
    }

    .alissa-photo {
        min-width: 300px;
    }

    .products {
        height: 510px;
        background-position-x: -900px;
    }

    .products ul {
        margin-top: 50px;
    }

    .products li {
        width: 50%;
        margin-bottom: 50px;
    }
}

@media (max-width: 535px) {
    .hero {
        background-position-x: -80px;
    }
}

@media (max-width: 485px) {
    .gram {
        height: 374px;
    }

    .gram img {
        min-width: 150px;
    }
}

@media (max-width: 465px) {
    .image-2 {
        width: 70%;
        height: auto;
        left: 3%;
    }

    .mission {
        height: 374px;
    }

    .alissa-photo {
        margin-left: 50px;
    }
}

@media (max-width: 450px) {
    footer,
    .footer-container {
        height: 442px;
    }

    footer input,
    footer button {
        min-width: 250px;
        width: 90%;
    }

    .update {
        width: 100%;
    }

    .subscribe {
        min-width: 0;
    }
}

@media (max-width: 405px) {
    header {
        height: 650px;
    }

    .image-2,
    .alissa-article {
        min-width: 300px;
    }

    .image-2 {
        width: 300px;
        left: 5%;
    }

    .alissa {
        height: 957.15px;
    }

    .alissa-photo {
        min-width: 250px;
    }

    .alissa h2 {
        font-size: 2rem;
    }

    .alissa p {
        font-size: 1rem;
    }
}

@media (max-width: 379px) {
    h1 {
        font-size: 3.8rem;
        margin-top: 200px;
        margin-top: 140px;
        margin-left: 55px;
    }

    .hero {
        background-position-x: -150px;
    }

    .gram img {
        margin-left: 5px;
    }
}

@media (max-width: 350px) {
    h1 {
        margin-top: 200px;
        margin-top: 140px;
        margin-left: 35px;
    }

    .hero {
        background-position-x: -170px;
    }

    .products {
        background-position-x: -1000px;
    }

    .gram {
        height: 354.5px;
    }

    footer li {
        width: 75px;
    }
}

@media (max-width: 335px) {
    h1 {
        margin-left: 20px;
    }

    .alissa-photo {
        margin-left: 30px;
    }

    .gram img {
        min-width: 140px;
    }

    footer li {
        width: 70px;
    }
}
/* Media queries end */